@using EFApproaches.DAL.Entities
@model IEnumerable<Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<span id="viewBagMsgContainer">@ViewBag.Message</span>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="firstMidNameValue">
                <!-- @Html.DisplayFor(model => item.FirstMidName) -->
                    <span class ="firstMidNameClass">@item.FirstMidName</span> 
                </td>
                <td>
                   <span class ="lastNameClass"> @item.LastName</span>
                </td>
                <td class="emailAddressValue">
                    <span class="emailAddressClass"> @item.EmailAddress</span>
</td>
                <td>
                    <span class="enrollmentDateClass"> @item.EnrollmentDate.ToShortDateString() </span>
</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "editStudent" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "detailsStudent" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class ="deleteStudent" })
                </td>
            </tr>
        }

    </table>
    <div id="amountMessagesContainer">
        @if(Model.Count<Student>() > 3)
        {
            <div id="MoreThanTwoStudentsMessage">There are more than 3 students</div>
        }
        else
        {
            <div id="MaxThreeStudentsMessage">There are 3 or less students</div>
        }
    </div>


