@model EFApproaches.DAL.Entities.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            <span id="fullNameSpan"> @Model.FullName </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            <span id="titleSpan"> @Model.Title </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            <span id="emailAddressSpan"> @Model.EmailAddress </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPerWeek)
        </dt>

        <dd>
            <span id="hoursPerWeekSpan"> @Model.HoursPerWeek.ToString() </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courses)
        </dt>

        <dd>
            <!--Enrollments information-->
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Hours/Week</th>
                </tr>
                @foreach (var item in Model.Courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AsignedHoursForCourse)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index", null, new { id = "backToListLink" })
</p>
