@model IEnumerable<EFApproaches.DAL.Entities.Teacher>

@{
    ViewBag.Title = "List of Teachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<span id="viewBagMsgContainer">@ViewBag.Message</span>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPerWeek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span class="fullNameValue">@item.FullName</span>
        </td>
        <td>
            <span class="titleValue">@item.Title</span>
        </td>
        <td>
            <span class="emailAddressValue">@item.EmailAddress</span>
        </td>
        <td>
            <span class="emailAddressValue">@item.HoursPerWeek</span>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "editTeacher" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "detailsTeacher" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "deleteTeacher" })
        </td>
    </tr>
}
</table>
<div>
    <b>Minimum hours required to be a Full Time teacher:  </b> <span>@ViewBag.MinimumHoursForFullTime</span>
    <br />
    <b>Full time teachers:  </b><span id="fullTimeTeachersContainer">@ViewBag.FullTimeTeachers</span>
    <br />
    <b>Part time teachers:  </b><span id="partTimeTeachersContainer">@ViewBag.PartTimeTeachers</span>
</div>
