@model IEnumerable<EFApproaches.DAL.Entities.Teacher>

@{
    ViewBag.Title = "List of Teachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<span id="viewBagMsgContainer">@ViewBag.Message</span>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span class="firstNameValue">@item.FirstMidName</span>
        </td>
        <td>
            <span class="lastNameValue">@item.LastName</span>
        </td>
        <td>
            <span class="titleValue">@item.Title</span>
        </td>
        <td>
            <span class="emailAddressValue">@item.EmailAddress</span>
        </td>
        <td>
            <span class="fullNameValue">@item.FullName</span>  
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
<div>
    Full time teachers:<span>@ViewBag.FullTimeTeachers</span> <br />
    Part time teachers:<span></span> @ViewBag.PartTimeTeachers </span>
</div>
